body {
    margin: 100px auto 0;
    background-color: #f1f1f1;
    border-radius: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    padding: 20px;
  }
  
  .topBox {
    background-color: #f8f8f8;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 32px;
    justify-content: space-between;
  }
  
  .resultBox {
    text-align: right;
    width: 50%;
    padding-right: 10px;
    color: rgb(83, 173, 209);
  }
  
  .row1 {
    max-width: 50%;
    text-align: center;
    color: #7e57c2;
  }
  
  .row2,
  .row3,
  .row4,
  .row5,
  .row6 {
    display: flex;
  }
  
  button {
    flex-grow: 1;
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #e0e0e0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ccc;
  }
  
  button:active {
    background-color: #bbb;
  }
  
  .zero,
  .clear {
    width: 33%;
  }
  
  .times:focus,
  .divide:focus,
  .plus:focus,
  .minus:focus {
    background-color: #536dfe;
    color: #fff;
  }
  